<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="home-slider text-center">
        <div class="slider-text">
          We are Number One<br /><span class="typing"></span>
        </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/typed.js/js/typed.js"></script>
    <script src="/js/typing.js"></script>
  </body>

</html>
